@{
    ViewData["Title"] = "Bienvenido a MindBuddy";
}
<link rel="stylesheet" href="~/css/Home.css"/>
<div style="text-align: center; margin-top: 50px;">
    <h1>🧠 Bienvenido a <strong>MindBuddy</strong></h1>
    <p>Tu asistente emocional basado en Inteligencia Artificial.</p>
    <p>Habla con MindBuddy y comparte cómo te sientes. Él te escuchará y responderá con empatía. 🤖</p>
    <br />
    <a class="botones" asp-controller="Chat" asp-action="Chat">Iniciar Chat</a>
</div>
